/* Base */ /* Reset and base styles  */
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  overflow-x: hidden;
  font-family: var(--font-inter);
  font-size: var(--text--s-regular);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  background-color: var(--bg-primary-white);
}

main {
  flex-grow: 1;
}

.fancybox__container {
  --fancybox-bg: rgb(255, 255, 255, 0.98);
}

footer {
  flex-shrink: 0;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

ul, ul li {
  list-style: none;
  padding: 0;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


/* Form */
input, textarea, button, select {
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
