:root {
  /* Text-size styles */
  --heading--xl: 7rem;
  --heading--l: 6rem;
  --heading--m: 4rem;
  --heading--s: 3rem;
  --heading--xs: 2rem;
  --text--xl-bold: 1.75rem;
  --text--l-bold: 1.5rem;
  --text--s-semi-bold: 1.38rem;
  --text--s-regular: 1.38rem;
  --text--m-regular: 1.12rem;
  --label--s-bold: 1.25rem;
  --caption: 1rem;


  /*spaces */
  --space-none: 0rem;
  --space-xxs: 0.5rem;
  --space-xs: 1rem;
  --space-sm: 1.5rem;
  --space-md: 2rem;
  --space-lg: 3rem;
  --space-xl: 4rem;
  --space-xxl: 8rem;
  --space-xxxs: 0.25rem;
  --space-xxxl: 16rem;

  /* colors */
  --green-700: #00FAB8FF;
  --green-600: #00E0A5FF;
  --green-main: #00C893FF;
  --green-500: #00C893CC;
  --green-400: #00C89399;
  --green-300: #00C89366;
  --green-200: #00C89333;
  --green-100: #00C8931A;

  --purple-main: #6667ABFF;
  --purple-500: #6667ABCC;
  --purple-400: #6667AB99;
  --purple-300: #6667AB66;
  --purple-200: #6667AB33;
  --purple-100: #6667AB1A;
  --purple-600: #6264C4FF;
  --purple-700: #595BDEFF;

  --red-700: #FF173BFF;
  --red-600: #FF3051FF;
  --red-main: #EA435DFF;
  --red-500: #EA435DCC;
  --red-400: #EA435D99;
  --red-300: #EA435D66;
  --red-200: #EA435D33;
  --red-100: #EA435D1A;

  --white-500: #FFFFFFCC;
  --white-400: #FFFFFF99;
  --white-300: #FFFFFF66;
  --white-200: #FFFFFF33;
  --white-100: #FFFFFF1A;
  --white-main: #FFFFFFFF;
  --white-600: #EFEFEFFF;

  --black-main: #222222FF;
  --black-500: #222222CC;
  --black-400: #22222299;
  --black-300: #22222266;
  --black-200: #22222233;
  --black-100: #2222221A;

  --yellow-700: #FFBB47FF;
  --yellow-600: #FFC461FF;
  --yellow-main: #EFC173FF;
  --yellow-500: #EFC173CC;
  --yellow-400: #EFC17399;
  --yellow-300: #EFC17366;
  --yellow-200: #EFC17333;
  --yellow-100: #EFC1731A;

  /* text colors black theme */
  --text-primary-white: var(--white-main);
  --text-critical-white: var(--red-main);
  --text-secondary-white: var(--white-400);
  --text-disabled-white: var(--white-300);
  --text-accent-white: var(--purple-main);
  --text-caution-white: var(--yellow-main);
  --text-success-white: var(--green-main);
  --text-primary-inverse: var(--black-main);
  --text-primary-on-color: var(--white-main);
  --text-success-hover: var(--green-600);
  --text-success-active: var(--green-700);
  --text-critical-hover: var(--red-600);
  --text-critical-active: var(--red-700);
  --text-accent-hover: var(--purple-600);
  --text-accent-active: var(--purple-700);
  --text-accent-subdued: var(--black-main);

  /* text colors white theme */
  --text-primary: var(--black-main);
  --text-critical: var(--red-main);
  --text-secondary: var(--black-400);
  --text-disabled: var(--black-300);
  --text-accent: var(--purple-main);
  --text-caution: var(--yellow-main);
  --text-success: var(--green-main);
  --text-primary-inverse-white: var(--white-main);
  --text-primary-on-color-white: var(--white-main);
  --text-success-hover-white: var(--green-600);
  --text-success-active-white: var(--green-700);
  --text-critical-hover-white: var(--red-600);
  --text-critical-active-white: var(--red-700);
  --text-accent-hover-white: var(--purple-600);
  --text-accent-active-white: var(--purple-700);
  --text-accent-subdued-white: var(--black-main);

  /* patterns */
  --pattern-purple-200: var(--purple-200);
  --pattern-purple-100: var(--purple-100);
  --pattern-purple-300: var(--purple-300);
  --pattern-purple-400: var(--purple-400);
  --pattern-purple: var(--purple-main);
  --pattern-purple-500: var(--purple-500);
  --pattern-yellow: var(--yellow-main);
  --pattern-yellow-500: var(--yellow-500);
  --pattern-yellow-400: var(--yellow-400);
  --pattern-yellow-300: var(--yellow-300);
  --pattern-yellow-200: var(--yellow-200);
  --pattern-yellow-100: var(--yellow-100);
  --pattern-bw-200: var(--white-200);
  --pattern-bw-100: var(--white-100);
  --pattern-bw: var(--white-main);
  --pattern-bw-500: var(--white-500);
  --pattern-bw-400: var(--white-400);
  --pattern-bw-300: var(--white-300);

  /* bg-colors black*/
  --bg-primary: var(--black-main);
  --bg-secondary: var(--black-main);
  --bg-accent: var(--purple-main);
  --bg-primary-inverse: var(--white-500);
  --bg-secondary-inverse: var(--white-400);
  --bg-accent-subdued: var(--yellow-main);
  --bg-accent-subdued-hover: var(--yellow-600);
  --bg-accent-subdued-active: var(--yellow-700);
  --bg-accent-hover: var(--purple-600);
  --bg-accent-active: var(--purple-700);


  /*bg-colors white */
  --bg-primary-white: var(--white-600);
  --bg-secondary-white: var(--white-main);
  --bg-accent-white: var(--purple-main);
  --bg-primary-inverse-white: var(--black-500);
  --bg-secondary-inverse-white: var(--black-400);
  --bg-accent-subdued-white: var(--yellow-main);
  --bg-accent-subdued-hover-white: var(--yellow-600);
  --bg-accent-subdued-active-white: var(--yellow-700);
  --bg-accent-hover-white: var(--purple-600);
  --bg-accent-active-white: var(--purple-700);

  /* borders */
  --border-primary-white: var(--white-300);
  --border-secondary-white: var(--white-200);
  --border-critical-white: var(--red-main);

  /* borders */
  --border-primary: var(--black-300);
  --border-secondary: var(--black-200);
  --border-critical: var(--red-main);

  /* radius */
  --radius-md: 1.5rem;
  --radius-lg: 8rem;
  --radius-sm: 1rem;
  --radius-xs: 0.25rem;
  --radius-xl: 50rem;

  /* icons */
  --icon-primary: var(--white-main);
  --icon-accent: var(--purple-main);
  --icon-accent-hover: var(--purple-600);
  --icon-accent-active: var(--purple-700);
  --icon-secondary: var(--white-400);
  --icon-disabled: var(--white-300);
  --icon-critical: var(--red-main);
  --icon-critical-hover: var(--red-600);
  --icon-critical-active: var(--red-700);
  --icon-caution: var(--yellow-main);
  --icon-success: var(--green-main);
  --icon-success-hover: var(--green-600);
  --icon-success-active: var(--green-700);
  --icon-primary-inverse: var(--black-main);
  --icon-primary-on-color: var(--white-main);
  --icon-accent-subdued: var(--white-main);

  --font-inter: 'Inter', sans-serif;
  --font-soyuzgrotesk: 'Soyuz Grotesk Bold', sans-serif;

  --transition: all 0.3s ease-in;
}

@media (max-width: 1280px) {
  :root {
    --heading--xl: 5.25rem;
    --heading--l: 4rem;
    --heading--m: 2.5rem;
    --heading--s: 2.25rem;
    --heading--xs: 1.75rem;
    --text--xl-bold: 1.62rem;
    --text--l-bold: 1.38rem;
    --text--s-semi-bold: 1.25rem;
    --text--s-regular: 1.25rem;
    --text--m-regular: 1.12rem;
    --label--s-bold: 1.12rem;
    --caption: 0.94rem;

    --space-none: 0rem;
    --space-xxs: 0.5rem;
    --space-xs: 0.75rem;
    --space-sm: 1.25rem;
    --space-md: 1.5rem;
    --space-lg: 1.75rem;
    --space-xl: 2rem;
    --space-xxl: 5rem;
    --space-xxxs: 0.25rem;
    --space-xxxl: 8rem;

    --radius-md: 0.75rem;
    --radius-lg: 5rem;
    --radius-sm: 0.5rem;
    --radius-xs: 0.25rem;
    --radius-xl: 37rem;
  }
}

@media (max-width: 727px) {
  :root {
    --heading--xl: 2.25rem;
    --heading--l: 2rem;
    --heading--m: 1.75rem;
    --heading--s: 1.5rem;
    --heading--xs: 1.25rem;
    --text--xl-bold: 1.5rem;
    --text--l-bold: 1.25rem;
    --text--s-semi-bold: 1.12rem;
    --text--s-regular: 1.12rem;
    --text--m-regular: 1rem;
    --label--s-bold: 1rem;
    --caption: 0.88rem;

    --space-none: 0rem;
    --space-xxs: 0.5rem;
    --space-xs: 0.5rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.25rem;
    --space-xl: 1.5rem;
    --space-xxl: 4rem;
    --space-xxxs: 0.25rem;
    --space-xxxl: 5rem;

    --radius-md: 0.5rem;
    --radius-lg: 3rem;
    --radius-sm: 0.25rem;
    --radius-xs: 0.25rem;
    --radius-xl: 18.75rem;
  }
}

/* common styles */

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

.m-auto {
  margin: 0 auto;
}

.text-light {
  color: var(--white-main);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-secondary-2 {
  color: var(--text-secondary-white);
}

.text-dark {
  color: var(--black-main);
}

.text-accent {
  color: var(--text-accent);
}

.bg-accent {
  background: var(--bg-accent);
}

.bg-dark {
  background: var(--bg-primary);
}

.bg-light-primary {
  background: var(--bg-primary-white);
}

.bg-light-secondary {
  background: var(--bg-secondary-white);
}

.container {
  /*max-width: 120rem;*/
  max-width: 100%;
  margin: 0 auto;
  padding: 0 var(--space-xl);
}

.page-wrapper {
  padding: var(--space-md) 0 var(--space-xxl) 0;
  background-color: var(--bg-primary-white);
}

.btn-reset {
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

.link, .link svg path {
  transition: var(--transition);
}

.heading-xl {
  font-family: var(--font-soyuzgrotesk);
  font-size: var(--heading--xl);
  font-style: normal;
  font-weight: 700;
  line-height: 106%;
  text-transform: lowercase;
}

.heading-l {
  font-family: var(--font-soyuzgrotesk);
  font-size: var(--heading--l);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: lowercase;
}

.heading-m {
  font-family: var(--font-soyuzgrotesk);
  font-size: var(--heading--m);
  font-style: normal;
  font-weight: 700;
  line-height: 108%;
  text-transform: lowercase;
}

.heading-s {
  font-family: var(--font-soyuzgrotesk);
  font-size: var(--heading--s);
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.heading-xs {
  font-family: var(--font-soyuzgrotesk);
  font-size: var(--heading--xs);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.caption {
  font-family: var(--font-inter);
  font-size: var(--caption);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.text-s-regular {
  font-family: var(--font-inter);
  font-size: var(--text--s-regular);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.text-m-regular {
  font-family: var(--font-inter);
  font-size: var(--text--m-regular);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.text-s-semi-bold {
  font-family: var(--font-inter);
  font-size: var(--text--s-semi-bold);
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.text-l-bold {
  font-family: var(--font-soyuzgrotesk);
  font-size: var(--text--l-bold);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.text-xl-bold {
  font-family: var(--font-inter);
  font-size: var(--text--xl-bold);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.label-bold {
  font-family: var(--font-soyuzgrotesk);
  font-size: var(--label--s-bold);
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.space-xxxs {
  margin-bottom: var(--space-xxxs);
}

.space-xxs {
  margin-bottom: var(--space-xxs);
}

.space-xs {
  margin-bottom: var(--space-xs);
}

.space-sm {
  margin-bottom: var(--space-sm);
}

.space-md {
  margin-bottom: var(--space-md);
}

.space-lg {
  margin-bottom: var(--space-lg);
}

.space-xl {
  margin-bottom: var(--space-xl);
}

.space-xxl {
  margin-bottom: var(--space-xxl);
}

.placeholder-primary::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    var(--text-primary);
}
.placeholder-primary:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
  color:    var(--text-primary);
  opacity: 1;
}

.placeholder-primary::-moz-placeholder{ /* Mozilla Firefox 19+ */
  color:    var(--text-primary);
  opacity: 1;
}

.placeholder-primary:-ms-input-placeholder{ /* Internet Explorer 10-11 */
  color:    var(--text-primary);
  opacity: 1;
}

.placeholder-primary::-ms-input-placeholder{ /* Microsoft Edge */
  color:    var(--text-primary);
  opacity: 1;
}

.placeholder-primary::placeholder{ /* Most modern browsers support this now. */
  color:    var(--text-primary);
  opacity: 1;
}

.button-filled {
  padding: var(--space-md) var(--space-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-md);
  background: var(--bg-accent-subdued);
  color: var(--text-accent-subdued);
  width: max-content;
  transition: background-color 0.3s ease-in;
}

.button-outlined {
  padding: var(--space-md) var(--space-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-md);
  border: 1px solid var(--icon-accent);
  width: max-content;
  transition: var(--transition);
}

.round-button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: 5.5rem;
  background: var(--bg-accent-subdued);
}

.round-button_rotated {
  transform: rotate(134deg);
}

.button-texted {
  display: flex;
  align-items: center;
  gap: var(--space-xxs);
}

.heading-width {
  max-width: 46rem;
}

.swiper-nav {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.regular-input {
  padding: var(--space-sm) var(--space-md);
  background-color: var(--white-main);
  border-radius: var(--radius-sm);
  width: 100%;
}



@media (hover: hover), (-ms-high-contrast: none) {
  .button-filled:hover {
    background: var(--bg-accent-subdued-hover);
  }

  .button-filled:active {
    background: var(--bg-accent-subdued-active);
  }

  .button-outlined:hover {
    color: var(--text-accent-hover);
    border-color: var(--bg-accent-subdued-hover);
  }

  .button-outlined:active {
    color: var(--text-accent-active);
    border-color: var(--bg-accent-subdued-active);
  }
  .link:hover {
    color: var(--text-accent-hover);
  }

  .link:hover svg path {
    stroke: var(--text-accent-hover);
  }
}

@media screen and (max-width: 1280px) {
  .d-tablet-none {
    display: none !important;
  }

  .d-tablet-block {
    display: flex !important;
  }

  .round-button {
    width: 4.5rem;
    height: 4.5rem;
  }
}

@media screen and (max-width: 727px) {
  .d-mobile-none {
    display: none !important;
  }

  .round-button {
    width: 3.5rem;
    height: 3.5rem;
  }
}


/* breadcrumbs */

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.breadcrumbs__link {
  color: var(--black-main);
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item:not(:first-child)::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3e%3cpath d='M18 12C18 15.3137 15.3137 18 12 18C8.68629 18 6 15.3137 6 12C6 8.68629 8.68629 6 12 6C15.3137 6 18 8.68629 18 12Z' fill='%23222222' fill-opacity='0.2'/%3e%3cpath d='M15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12Z' stroke='%23222222' stroke-opacity='0.2' stroke-width='6'/%3e%3c/svg%3e");
  margin: 0 var(--space-xxs);
}

.breadcrumbs__link_active {
  color: var(--text-disabled);
}


/* checkbox */

/* input type checkbox */
/* для элемента input c type="checkbox" */
.custom-checkbox {
  cursor: pointer;
}

.custom-checkbox>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 24px;
  height: 24px;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>span {
  display: inline-flex;

  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>span::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  flex-grow: 0;
  background: var(--bg-primary-white);
  border-radius: var(--radius-xs);
  margin-right: 1rem;
  margin-top: 0.3rem;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid transparent;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
  border: 2px solid var(--text-accent-hover);
}

.custom-checkbox>input:not(:disabled):hover+span {
  color: var(--text-accent-hover);
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox>input:not(:disabled):active+span::before {
  /*border-color: var(--secondary);*/
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox>input:focus+span::before {

}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox>input:focus:not(:checked)+span::before {
  /*border-color: var(--secondary);*/
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox>input:checked+span::before {
 /* border-color: var(--secondary);*/
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='13' viewBox='0 0 16 13' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 2.74048L5.28151 13L0 7.94467L2.45484 5.53756L5.28151 8.2432L13.5452 0.333374L16 2.74048Z' fill='%23595BDE'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox>input:disabled+span::before {
 /* border-color: var(--grey-medium);*/
}

.custom-checkbox>input:disabled+span {
  /*color: var(--grey-medium);*/
}

.custom-checkbox>input.disabled::after {
 /* border-color: var(--grey-medium);*/
}

.custom-checkbox>input.disabled:checked::before {
 /* border-color: var(--grey-medium);*/
}


/* radio */

/* для элемента input c type="radio" */
.custom-radio {
  cursor: pointer;
}

.custom-radio>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 24px;
  height: 24px;
}

/* для элемента label связанного с .custom-radio */
.custom-radio>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio>span::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--bg-primary-white);
  margin-right: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border: 2px solid transparent;
}

/* стили при наведении курсора на радио */
.custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
  border: 2px solid var(--text-accent-hover);
}

.custom-radio>input:not(:disabled):hover+span {
  color: var(--text-accent-hover);
}


/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio>input:not(:disabled):active+span::before {
 /* border-color: var(--secondary);*/
}

/* стили для радиокнопки, находящейся в фокусе */
.custom-radio>input:focus+span::before {
  /*border-color: var(--secondary);*/
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio>input:focus:not(:checked)+span::before {

}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio>input:checked+span::before {
  /*border-color: var(--secondary);*/
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3ccircle cx='8' cy='8' r='6' fill='%23595BDE'/%3e%3c/svg%3e");
}

.custom-radio>input:checked+span {
  color: var(--text-accent-hover);
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio>input:disabled+span::before {

}

.custom-radio>input:disabled+span {

}
